.card {
    display: flex;
    margin: auto;
    width: 40%;
    margin-bottom: 5%;
}

#topPic {
    width: 50%;
    margin: auto;
}

.jumbotron {
    padding: 5%;
    text-align: center;
}

.media-body {
    text-align: center;
    padding: 4%;
}

.list-group-item {
    margin: auto;
}

body {
    background-color: lightblue;
}